:root{
  --bg-color: #F0EFF4;
  --main-color: #2541B2;
  --2nd-main-color: #FAB3A9;
  --3rd-main-color: #F7F06D;
  --4th-main-color: #4763cf;
  --text-color: #333232;
  --2nd-text-color: #F0EFF4;
  --text-font: 'montserrat';
  --big-font: 5rem;
  --2nd-big-font: 3rem;
  --h2-font: 2rem;
  --p-font: 1rem;
}

#about {
  background: rgb(74,43,207);
  background: linear-gradient(0deg, rgba(74,43,207,1) 20%, rgba(23,179,187,1) 100%);
  text-align: center;
  color: white;
  min-height: 80vh;
  padding: 14px 12% 6px 12%;
}
/* #526edb */
#about .title {
  font-size: var(--2nd-big-font);
  padding: 2.5rem 0;
}

#about-box-container {
  display: flex;
  justify-content: space-between;
  color: #333232;
}

#about .about-box {
  padding: 10px 20px;
  width: 48%;
  background-color: rgba(255,255,255,1);
  text-align: start;
  box-shadow: 4px 4px 4px;
}

#about .about-box-title {
  font-size: 2rem;
  padding: 10px 0;
  text-align: center;
  color: #2541B2;
}

.about-box .text {
  padding: 6px 0;
  font-weight: 400;
  font-size: 18px;
}

.about-box div .text ul li{
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 50px;
}

/* language section */

#languages-section {
  margin-top: 25px;
  color: white;
  margin-bottom: 50px;
}

#language-container div img {
  height: 180px;
  width: 180px;
}

@media screen and (max-width: 600px) {
  #about {
    text-align: center;
    padding: 0;
  }
  
  #about-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 2% 6px 2%;
    width: 100%;
  }

  #about .about-box {
    padding: 10px 20px;
    width: 80%;
    border-radius: 10px;
    margin: 10px 0;
    text-align: start;
  }

  #about .about-box-title {
    font-size: 1.2rem;
    padding: 5px 0;
  }
  #about .about-box.two {
    margin-left: 0;
  }
  .about-box .text {
    padding: 6px 0;
    font-weight: 400;
    font-size: 14px;
  }
  
  .about-box div .text ul li{
    margin-top: 10px;
    list-style-type: disc;
    margin-left: 10px;
  }
  
  #about .title {
    font-size: var(--2nd-big-font);
    padding: 2.5rem 0;
  }

  #about {
    padding-bottom: 20px;
  }
  #languages-section {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #languages-section {
    min-height: 0vh;
    margin-bottom: 25px;
  }
}