* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--text-font), arial;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* scroll-padding-top: 2rem; */
}

:root{
  --bg-color: #F0EFF4;
  --main-color: #2541B2;
  --2nd-main-color: #FAB3A9;
  --3rd-main-color: #F7F06D;
  --4th-main-color: #4763cf;
  --text-color: #343A40;
  --2nd-text-color: #F0EFF4;
  --text-font: 'montserrat';
  --big-font: 5rem;
  --h2-font: 2rem;
  --p-font: 1rem;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 11% 6px 11%;
  background: transparent;
  width: 100%;
  color: var(--text-color);
  z-index: 999;
  position: absolute;
  top: 0px;

}

#nav-logo {
  margin-top: 2px;
  margin-left: 2px;
  max-width: 65px; 
  max-height: 70px;
}
  /* nav text area */
#nav-text {
  display: flex;
}


#nav-text li a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 25px;
  font-weight: 400;
}
  /* nav text area end */
nav #nav-text a:hover {
  background: var(--main-color);
  transition: .3s;
  color: var(--2nd-text-color);
}

#nav-text .menu {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: var(--text-color);
  margin: 6px 0 0 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}



/* nav end */

/* nav responsive */

@media screen and (max-width: 600px) {

  nav {
    display: block;
    padding: 0;
    color: var(--2nd-text-color);
    height: 8%;
  }

  .menuParent li a {
    display: block;
    background-color: rgba(240,239,244, 0.9);
    text-align: center;
  }
  
  #nav-logo {
    width: 45px; 
    height: 50px;
  }

  #nav-text .menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin-top: 2%;
    margin-right: 10px;
  }

  .menuParent.responsive li a {
    display: block;
    background-color: rgba(240,239,244, 0.9);
    text-align: center;
    animation: slide-down .3s;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    50% {
      transform: translateY(-25%);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
      
    }
  }

  #nav-text.menuParent.d-none li a {
    display: none;    
  }

  .menuParent.unclicked li a {
    animation: slide-up .3s;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.3s, 0s;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    50% {
      transform: translateY(-25%);
      opacity: 0.5;
    }
    100% {
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  #nav-text {
    display: block;
  }

}

/* nav responsive end */


#home {
  z-index: -1;
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 120px 11%;
}

#home-text {
  order: 1;
}

#home h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

#home h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  margin: 0 0 20px 0;
}

#home h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

#home p {
  /* text-align: justify; */
  color: var(--text-color);
  max-width: 450px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}

#home .btn {
  background: var(--main-color);
  color: var(--2nd-text-color);
  box-shadow:  4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor: pointer;
}

#home .btn:hover {
  background: var(--text-color);
  box-shadow: 4px 4px var(--main-color);
}

#me-image {
  clip-path: polygon(30% 0, 70% 10%, 100% 0, 100% 90%, 70% 100%, 30% 90%, 0 100%, 0 10%);
  order: 2;
}

#me-image img {
  max-height: 380px; 
  max-width: 100%;
}

#home code {
  font-family: 'Rubik';
  font-size: 1.1em;
  font-weight: 500;
  color: var(--main-color);
}

@media screen and (max-width: 600px) {
  #home-text {
    order: 2;
    margin-top: 25px;
  }
  #me-image {
    order: 1;
  }

  #home {
    padding: 120px 11% 80px 11%;
    flex-direction: column;
  }

  #home h5 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

#home h1 {
  font-size: 3.5rem;
  margin: 0 0 20px 0;
}

#home h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #home-text {
    order: 2;
    margin-top: 50px;
  }
  #me-image {
    margin-top: 10px;
    order: 1;
    transform: scale(1.1);
  }
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}